.chatInterface{
    background-color: #0F1727;
}

.chatBoxContainer{
    background-color: #0F1727;
    border-right: 2.5px solid #1B2332;
}

.chatContainer{
    background-color: #0E1524;
}

.searchChatBox{
    background-color: transparent;
}

.searchInput{
    background-color: #1B2332;
    color: #767B85;
}

.chatBubble{
    background-color: #1B2332;
    color: white;
    /* border-radius: 26% 14% 13% 15% / 0% 50% 48% 49%; */
}

.myMsg{
    background-color: #8069EF;
    /* border-radius: 12% 14% 13% 11% / 40% 2% 52% 49%; */
}

.unseenCount, .msgSendBtn{
    background-color: #8069EF;
}

.chatBox{
    background-color: #1B2332;
}

.chatProfilePicture{
    border-radius: 50%;
}

.msgInput{
    background-color: #1B2332;
    color: #767B85;
}